@model IEnumerable<assignment01.Models.Player>

@{
  ViewData["Title"] = "List of Players";
}

<div>
  <h1 class="display-4">@ViewData["Title"]</h1>


  <table class="table table-striped table-bordered">
    <tr>
      <th>@Html.DisplayNameFor(model => model.person.fullName)</th>
      <th>@Html.DisplayNameFor(model => model.jerseyNumber)</th>
      <th>@Html.DisplayNameFor(model => model.position.name)</th>
      <th></th>
    </tr>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.person.fullName</td>
        <td>@item.jerseyNumber</td>
        <td>@item.position.name</td>
        @* <td style="text-align: center;">
          <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info">Details of team</a>
        </td>  *@
      </tr>
      }
  </table>
</div>