@model assignment01.Models.People

@{
  ViewData["Title"] = "Player Info";
}

<div>
  <h1 class="display-4">@ViewData["Title"]</h1>


  <table class="table table-striped table-bordered">
    <tr>
      <th>@Html.DisplayNameFor(model => model.fullName)</th>
      <th>@Html.DisplayNameFor(model => model.currentTeam.name)</th>
      <th>@Html.DisplayNameFor(model => model.currentAge)</th>
      <th>@Html.DisplayNameFor(model => model.nationality)</th>
      <th>@Html.DisplayNameFor(model => model.primaryPosition.name)</th>
      <th></th>
    </tr>
   
      <tr>
        <td>@Model.fullName</td>
        <td>@Model.currentTeam.name</td>
        <td>@Model.currentAge</td> 
        <td>@Model.nationality</td> 
        <td>@Model.primaryPosition.name</td> 
        @* <td style="text-align: center;">
          <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info">Details of team</a>
        </td>  *@
      </tr>
      
  </table>
</div>